<div class = "edit-wrapper">
  <div class = "container">
    <div class="edit-width">
      <div class="edit-info">
        <div class = "edit-title">
          <h4>編集</h4>
        </div>
        <div class = "edit-form">
          <div class="form">
            <%= form_with model:@user,url:"#{@user.id}_update",method:'POST',local:true do |form| %>
            <p>名前</p>
            <%= form.text_field :name %>
            <p>メールアドレス</p>
            <%= form.email_field :email %>
            <p>自己紹介</p>
            <%= form.text_area :introduce%>
            <p>画像</p>
            <%=form.file_field :avatar%>
          </div>
          <div class = "reserve">
            <%=form.submit "保存"%>
          </div>
          <div class="user-destroy">
            <p>
              <%=link_to("アカウント削除","/users/#{@user.id}/destroy",class:"underline user-delete",method: "post")%>
            </p>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
