<div class = "new-wrapper">
  <div class = "container">
    <div class="new-width">
    <div class = "new-title">
      <h4>新規登録</h4>
    </div>
    <div class = "new-form">
      <div class="form">
        <%= form_with model:@user,url:users_create_path ,method: 'POST',local:true do |form| %>
        <p>名前</p>
        <%= form.text_field :name %>
        <p>メールアドレス</p>
        <%= form.email_field :email %>
        <p>パスワード</p>
        <%= form.password_field :password %>
       <div class="mypage-image">
        <p>画像</p>
        <%=form.file_field :avatar%>
        </div>
      </div>
      <div class = "reserve">
        <%=form.submit "新規登録"%>
      </div>
      <%end%>
    </div>
  </div>
  </div>
</div>
