<div class="index-main">
  <div class="container">
    <div class="post-width">
      <div class="post-index">
        <% @posts.each do |post|%>
        <div class="post-info">
          <div class="post-user-info">
            <%=image_tag(post.user.avatar)%>
            <%=link_to(post.user.name, "/users/#{post.user_id}", class:"underline post-name name-border") %><br>
          </div>
          <div class="post-image">
            <p><%="《#{post.region}》"%></p>
            <%=link_to "/posts/#{post.id}" do %>
            <%=image_tag(post.image)if post.image.attached? %><br>
            <%end%>
          </div>
          <div class="post-detail">
            <p class="post-time">
              <%=post.created_at.strftime("%Y-%m-%d %H:%M")%>
            </p>

            <!--いいね-->
            <% if @current_user %>
            <% if post.liked_by?(@current_user) %> <!-- ログインしているユーザーがファボしているか否か -->
            <p>
              <%=link_to "/likes/#{post.id}/destroy", method: :delete, class:"underline" do %>
              <span class="fas fa-heart like-btn"></span><!--ファボ済み -->
              <%end%>
              <span><%=post.likes.count%></span>
            </p>
            <% else %>
            <p>
              <%=link_to "/likes/#{post.id}/create", method: :post, class:"underline" do %>
              <span class="far fa-heart like-btn"></span><!--ファボしてない-->
              <%end%>
              <span><%=post.likes.count%></span>
            </p>
            <% end %>
            <% else %>
            <p><span>お気に入り数 </span><%= post.likes.count %></p>
            <% end %>

            <!--投稿内容-->
            <p class="post-content">
              <%=post.content%>
            </p>
            <div class="seemore">
              <%=link_to("See more...", "/posts/#{post.id}", class:"underline seemore-font") %>
            </div>
            <div class="post-comments">
              <p>
                コメント<%= post.comments.count %>件
              </p>
            </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
</div>
