<div class="new-post-main">
  <div class="container">
    <div class="post-width">
      <div class="post-title">
        <h4>投稿</h4>
      </div>
      <div class="post-wrapper">
        <%= form_with model:@post, url:posts_create_path, method: 'POST', local:true do |form|%>
        <div class="post-form" id="star">
          <p>生産地</p>
          <%=form.text_field:region%>
          <p>焙煎度</p>
          <%=form.text_field:roast%>
          <p>テキスト</p>
          <%=form.text_area:content%>
          <p>画像</p>
          <%=form.file_field:image%>
          <p>評価</p>
          <%=form.hidden_field:rate, id: :review_star%>
          <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'post[rate]',
      half: true,
    });
  </script>
        </div>
        <div class="reserve">
          <%=form.submit "投稿"%>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
