<div class="show-main">
  <div class="container">
    <div class="post-show-width">
      <div class="post-show-info">
        <div class="post-comment">
          <div class="post-user-info">
            <%=image_tag(@user.avatar)%>
            <%=link_to(@user.name, "/users/#{@user.id}", class:"underline post-name") %>
          </div>

          <div class="post-image">
            <%=image_tag(@post.image)%><br>
          </div>
          <div class="post-show-detail">
            <p class="post-time">
              <%=@post.created_at.strftime("%Y-%m-%d %H:%M")%>
            </p>

            <!--いいね-->
            <div class="post-like">
              <%= render partial: 'likes/like', locals: { post: @post } %>
            </div>
            <!--投稿内容-->
            <p><%=@post.region%></p>
            <p><%=@post.roast%></p>
            <p><%=@post.content%></p>
            <span id="star-rate-<%= @post.id %>"></span>
            <script>
              $('#star-rate-<%= @post.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= @post.rate %>,
              });
            </script>
            <%= @post.rate %>
          </div>
          <%if @current_user.id == @user.id  %>
          <div class="post-show-edit">
            <%=link_to("編集", "/posts/#{@post.id}/edit", class:"underline show-edit-btn") %>
          </div>
          <%end%>
        </div>

        <div class="comments-index">
          <div class="post-comment-form">
            <%=form_with model:[@post,@comments], url: "/comment/#{@post.id}/create", method: "Post", local: true do |f|%>
            <%= f.text_area :Content %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "コメント" %>
            <%end%>
          </div>

          <strong class="comment-title">コメント</strong><br>
          <% @comments.each do |comment|%>
          <div class="comment-all">
            <% user = @comenter.find_by(id:comment.user_id)%>
            <span class="comment-image">
              <%=image_tag(user.avatar)%>
            </span>
            <span class="comment-detail">
              <span class="comment-name"><%= user.name %></span>
              <%= comment.Content %><br>
            </span>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
